*.jar
*/target/*
.idea
.project
.classpath
.factorypath
*.iml
./settings
application.pid
redis.log
target/*
*.aof
*.conf
client/dependency-reduced-pom.xml
common/dependency-reduced-pom.xml
server/dependency-reduced-pom.xml